
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  #header{
    height: 16.8vh;
  }
  .header_up {
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    line-height: 6vh;
    justify-content: space-between;
  }
  .header_navi--left{
    margin-left: 5%;
  }
  .header_navi--right > a > svg{
    margin-left: 2%;
  }
  .header_navi--left a{
    text-decoration: none;
  }
  .header_nav-homea{
    display: flex;
    align-content: center;
    align-items: center;
  }
  .header_nav-homea span{
    font-weight: 600;
    color: var(--red--color);
    text-decoration: none;
    font-size: 20px;
  }
  .header_nav-homename span{
    margin-top: 3%;
  }
  .header_navi--right a,
  .header_nav-homename span{
    font-size: 14px;
    text-decoration: none;
  }
  
  .header_navi--right{
    margin-right: 5%;
    width: 30%;
    color: var( --black--color);
  }
  
  
  .header_navi--right a {
    font-weight: 300;
    color: var( --black--color);
    padding-left: 1%;
  }
  .header_navi--right a:hover{
    color: #8f8f8f;
  }
  .language{
    position: relative;
  }
  .table_language{
    width: 8%;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: 2px #c1bfbf solid;
    z-index: 1;
    background-color: var(--white--color);
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 81.5%;
    top: 6%;
    /* display: none; */
  }
  .table-language_divider {
    width: 90%; 
    margin: 0 auto; 
    border: none; 
    border-top: 2px solid #919191; 
  }
  .table_language-EN:hover ,
  .table_language-VN:hover {
    background-color: #f9f9f9;
  }
  .table_language-EN:hover img,
  .table_language-VN:hover img {
    filter: grayscale(15%); 
  }
  .table_language-EN:hover a,
  .table_language-VN:hover a {
    color: #adadad; 
  }
  .table_language-EN,
  .table_language-VN{
    text-align: center;
  }
  user{
    position: relative;
  }
  .user_table{
    width: 11%;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: 2px #c1bfbf solid;
    z-index: 1;
    background-color: var(--white--color);
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 88.5%;
    top: 6%;
    flex-direction: column;
    align-content: space-around;
    display: none;
  }
  .table-user_divider{
    width: 90%; 
    margin: 0 auto; 
    border: none; 
    border-top: 2px solid #919191; 
  }
  .user_table-user ,
  .user_table-support ,
  .user_table-logout {
    display: flex;
    width: 100%;
    padding-left: 4%;
  }
  .user_user-icon ,
  .user_support-icon,
  .user_logout-icon {
    padding:0 4px;
  }
  .user_table-user:hover,
  .user_table-support:hover ,
  .user_table-logout:hover {
    background-color: #f9f9f9;
  }
  
  .header_search{
    display: flex;
  }
  .header_search-input {
    display: flex;
    align-items: center;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.4%;
    position: relative;
    margin-left: 14%;
  }
  .header_input-icon {
    margin-right: 5px;
  }
  .header_input-content {
    flex: 1;
    border: none;
    outline: none;
    height: 30px; /* Điều chỉnh chiều cao tùy ý */
    background-color: var(--white--color); /* Màu nền của input */
  }
  .header_input-button {
    border: none;
    padding-right: 1%;
    background-color: var(--white--color);
    color: var(--red--color);
    transition: padding-left 0.3s ease;
  }
  
  .header_input-button:hover   {
    width: 10%;
    height: 140%;
    padding-right: 0;
    background-color: #ccc;
    color: var(--white--color); 
  }
  .header-input_divider {
    position: absolute;
    top: -22%;
    height: 70%;
    left: 93%;
    border-left: 3px solid #827f7f;
    transform: rotate(180deg);
  }
  .header_search-divider{
    left: 87%;
    position: absolute;
    height: 6%;
    top: 6.5%;
    border-left: 3px solid #827f7f;
    transform: rotate(180deg);
  }
  .header_search-shoppingcare{
    margin-left: 5%;
  }
  .header_search-shoppingcare:hover{
    filter: grayscale(30%); 
  
  }
  #content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content_top{
    width: 95%;
    display: flex;
    margin-top: 1%;
  }
  .content_top-sidebar{
    margin-left: 28%;
    height: 100%;
    float: left;
    width: 80%;
    background-color: #e6e4e436;
    border-radius: 0 0 10px 10px;
  }
  .content_sidebar-title{
    border-radius: 25px 25px 0 0;
    display: flex;
    font-size: 1.2rem;
    padding: 2% 2% 2% 2%;
    background-color: var(--red--color);
    justify-content: center;
  }
  .content_sidebar-titlename{
    font-weight: 550;
    font-size: 124%;
    color: var(--white--color);
  }
  .content_sidebar-list{
    list-style-type: none;
    padding: 0;
    border-radius: 0 0 25px 25px ;
    margin: 0;
  }
  
  .content_sidebar-list li{
    margin: 2%;
  }
  .content_sidebar-list li a{
    display: flex;
    text-decoration: none;
    color: var( --text--color);
  }
  .content_sidebar-listicon img{
    width: 40%;
    margin-left: 40%;
  }
  .content_sidebar-list li:hover{
    background-color: #D9D9D9;
  }
  .container_top-banner{
    float: right;
    margin: 0px 0px 1% 1%;
    height: 95%;
  }
  .content_banner-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 48%;
  }
  .content_small-ads1,
  .content_small-ads2 {
    width: 48.9%;
    height: 100%;
  }
  .content_banner-large{
    width: 100%;
    height: 50%;
  }
  .content_small-ads1 img,
  .content_small-ads2 img{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    height: 100%;
  }
  .content_banner-large img{
    height: 50%;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
  }
  .small_ads1-arrow{
    position: relative;
  }
  .ads1_left-arrow,
  .ads1_right-arrow{
    display: none;
    position: absolute;
    background-color: var(--white--color);
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
  }
  .ads1_left-arrow{
    left: 1.4%;
    box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .ads1_right-arrow{
    left: 94.2%;
    box-shadow: -2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .small_ads2-arrow{
    position: relative;
  }
  .ads2_left-arrow,
  .ads2_right-arrow{
    position: absolute;
    background-color: var(--white--color);
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
    display: none;
  }
  .ads2_left-arrow{
    left: 1.4%;
    box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .ads2_right-arrow{
    left: 94.2%;
    box-shadow: -2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .banner_large-arrow{
    position: relative;
  }
  .large_left-arrow,
  .large_right-arrow{
    position: absolute;
    background-color: var(--white--color);
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
    display: none;
  
  }
  .large_left-arrow{
    left: 1.4%;
    box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .large_right-arrow{
    left: 96.2%;
    box-shadow: -2px 3px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .content__top--phone_table{
    display: none;
  }
  .content_discount-head{
    position: relative;
  }
  .content_small-ads1:hover .ads1_left-arrow,
  .content_small-ads1:hover .ads1_right-arrow{
    display: block;
  }
  .content_small-ads2:hover .ads2_left-arrow,
  .content_small-ads2:hover .ads2_right-arrow{
    display: block;
  }
  .content_banner-large:hover .large_left-arrow,
  .content_banner-large:hover .large_right-arrow{
    display: block;
  
  }
  .col-md-20th:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.197);
  }
  .content_head-time{
    flex-wrap: wrap;
    height: 46px;
    display: flex;
    width: 86%;
    position: relative;
    margin: 2% 5% 0% 7%;
    background-color: #FFD6BA;
    align-items: center;
  }
  .content_head-time > .icon > img{
    margin: 0 8%;
    width: 100%;
  }
  .content_head-time > h3{
    margin: 0 0.8%;
    color: var(--red--color);    
    font-weight: 550;
  
  }
  .content_head-time > hr{
    left: 25.7%;
    position: absolute;
    height: 80%;
    top: -23.5%;
    border-left: 3px solid var(--red--color);
    transform: rotate(180deg);
  }
  .content_head-time > .time_span{
    margin: 0.2% .2% 0 0.2%;
    color: var(--red--color);
  }
  .content_head-time > .time_day,
  .content_head-time > .time_hour,
  .content_head-time > .time_minute,
  .content_head-time > .time_second{
    margin: 0 0.5%;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: var(--red--color);
    font-weight: 550;
    font-size: 70%;
    width: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.1% 1.4% 0.1% 1.4%;
  }
  .content_head-time > .time_colons{
    color: var(--red--color);
    font-weight: 550;
  }
  .content_head-seeall{
    height: 66%;
    width: 5.7%;
    background-color: var(--red--color);
    top: 17%;
    left: 86.7%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
  
  }
  .content_head-seeall span{
    font-weight: 548;
    color: var(--white--color);
  }
  .content_discount-among{
    width: 86%;
    margin-top: 0.2%;
    margin-left: 7%;
    background-color: #FFF2E8;
    /* height: 59vh; */
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .content_among-product{
    padding: 1%;
    margin-top: 1%;
    border-radius: 10px;
    height: 86%;
    width: 98%;
    background-color: white;
  }
  .product_discount {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 2px solid var(--Mu-nn-food-house, #919191);
    border-radius: 10px;
  
  }
  
  .product_discount > a > img{
    margin: 2%;
    border-radius: 10px;
    object-fit: cover;
    height: 41%;
    width: 95%;
  }
  .product_discount-namevspercentdiscount{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product_discount-name{
    margin-left: 2%;
  }
  .product_discount-name h4{
    font-weight: 400;
  }
  .product_discount-spercentdiscount{
    margin-bottom: 3%;
    padding-left: 6%;
    background: var(--red--color);
    color: var(--white--color);
    font-size: 92%;
    width: 22%;
  }
  .product_discount-reducedpricevsunitvsicon{
    display: flex;
    margin-top: 11%;
  }
  .product_discount-reducedprice{
    color: #95B8DA;
    margin-left: 2%;
  }
  .product_discount-reducedprice h5{
    margin: 0;
  }
  .product_discount-unit{
    color: #919191;
    font-size: 82%;
    margin-top: 3%;
  }
  .product_discount-icon{
    margin: 1% 0 0 18%;
  }
  .product_discount-icon a{
    border-radius: 50%;
    padding: 29%;
    background-color: var(--red--color);
  }
  .product_discount-price span {
    text-decoration: line-through;
    color: var(--Mu-nn-food-house, #919191);
    margin-left: 3%;
  }
  .product_discount-content{
    margin: 6% 2% 3% 2%;
    border: 2px dashed var(--mu-nn-food-house-2, #E85D06);
    background: #FFF;
  }
  .product_discount-content span{
    margin-left: 5%;
    color: var(--red--color);
  }
  .product_discount-title > img{
    width: 7%;
    margin-left: 2%;
  }
  .product_discount-title > span{
    color: var(--red--color);
    font-weight: 700;
  }
  .discount_pagination{
    width: 100%;
  }
  .discount_pagination-numbers{
    margin: 0 30%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
  }
  .discount_pagination-numbers li{
    font-weight: 550;
  
  }
  .discount_pagination-numbers > li > svg{
    margin: 0px 0 9% -29%;
  }
  .discount_pagination-numbers > li > span{
    cursor: pointer;
  }
  .svg_pointer-events{
    pointer-events: none; 
  }
  .pagination-selected {
    color: white;
    padding: 4px 12px;
    background-color: #F98858;
    border-radius: 50%;
  }
  .content_selling-top,
  .content_sedfood-between,
  .content_roll-between{
    margin: 3% 7%;
    display: flex;
    justify-content: space-between;
  }
  .content_selling-name h3,
  .content_sedfood-name h3,
  .content_roll-name h3{
    width: 100%;
    margin-left: 5%;
    font-weight: 550;
  }
  .content_selling-seemore,
  .content_sedfood-seemore,
  .content_roll-seemore{
    text-decoration: none;
    display: flex;
  }
  .content_seemore-name{
    color: #F98858;
    margin-top: 2%;
    text-decoration: none;
  }
  
  .slider--row{
    display: flex !important;
    justify-content: center;
  }
  .product-loop-new{
    padding-bottom: 5px;
    position: relative;
    background: #fff;
    border: 1px solid #f5f5f5;
  }
  .product_selling li,
  .col-md-20th,
  .product_roll li{
    height: 93%;
    width: 18.6%;
    border: 1px solid var(--Mu-nn-food-house, #919191);
  }
  .product_selling li> a > img,
  .col-md-20th> a > img,
  .product_roll li> a > img{
    margin: 2%;
    border-radius: 10px;
    object-fit: cover;
    height: 41%;
    width: 95%;
  }
  .product_selling-namevspercentselling,
  .product_sedfood-namevspercentsedfood,
  .product_roll-namevspercentroll{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product_selling-name,
  .product_sedfood-name,
  .product_roll-name{
    margin-left: 2%;
  }
  .product_selling-name h4,
  .product_sedfood-name h4,
  .product_roll-name h4{
    font-weight: 400;
  }
  .content_roll-bottom,
  .content_sedfood-bottom,
  .content_selling-between{
    margin: 0 auto;
    width: 91%;
  }
  .product_selling-spercentselling,
  .product_sedfood-spercentsedfood,
  .product_roll-spercentroll{
    margin-bottom: 3%;
    padding-left: 6%;
    background: var(--red--color);
    color: var(--white--color);
    font-size: 92%;
    width: 22%;
  }
  .product_selling-reducedpricevsunitvsicon,
  .product_sedfood-reducedpricevsunitvsicon,
  .product_roll-reducedpricevsunitvsicon{
    display: flex;
    margin-top: 11%;
  }
  .product_selling-reducedprice,
  .product_sedfood-reducedprice,
  .product_roll-reducedprice{
    color: #95B8DA;
    margin-left: 2%;
  }
  .product_selling-reducedprice h5,
  .product_sedfood-reducedprice h5,
  .product_roll-reducedprice h5{
    margin: 0;
  }
  .product_selling-unit,
  .product_sedfood-unit,
  .product_roll-unit{
    color: #919191;
    font-size: 82%;
    margin-top: 3%;
  }
  .product_selling-icon,
  .product_sedfood-icon,
  .product_roll-icon{
    margin: 1% 0 0 24%;
  }
  .product_selling-icon a,
  .product_sedfood-icon a,
  .product_roll-icon a{
    border-radius: 50%;
    padding: 29%;
    background-color: var(--red--color);
  }
  .product_selling-price span,
  .product_sedfood-price span,
  .product_roll-price span{
    text-decoration: line-through;
    color: var(--Mu-nn-food-house, #919191);
    margin-left: 3%;
  }
  .product_selling-content,
  .product_sedfood-content,
  .product_roll-content{
    margin: 6% 2% 3% 2%;
    border: 2px dashed var(--mu-nn-food-house-2, #E85D06);
    background: #FFF;
  }
  .product_selling-content span,
  .product_sedfood-content span,
  .product_roll-content span{
    margin-left: 5%;
    color: var(--red--color);
  }
  .product_selling-title,
  .product_sedfood-title,
  .product_roll-title{
    margin-bottom: 5%;
  }
  .product_selling-title > img,
  .product_sedfood-title > img,
  .product_roll-title > img{
    width: 7%;
    margin-left: 2%;
  }
  .product_selling-title > span,
  .product_sedfood-title > span,
  .product_roll-title > span{
    color: var(--red--color);
    font-weight: 700;
  }
  .sedfood-banner img,
  .roll-banner img{
    width: 86%;
    border-radius: 50px;
    height: 100%;
    text-align: center;
    height: 44vh;
    margin: 8.6% 0 0 7.5%;
  }
  .sedfood-banner::before{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  }
  .content_bottom{
    margin-top: 2%;
    display: flex;
  }
  
  .content_bottom-name{
    font-weight: 550;
    margin-top: 7%;
    display: flex;
    margin-bottom: 2%;
  }
  .name_blog{
    text-align: left;
  }
  .name_blog h4,
  .name_feedback h4{
    width: 100%;
    font-weight: 550;
  }
  
  .name_feedback{
    margin-right: 20.3%;
  }
  .content_bottom-bot{
    display: flex;
    margin: 0px 4.5%;
  }
  
  
  .blog_content {
    max-width: 54%; /* Thay đổi max-width này */
    margin-left: 7%;
  }
  
  .blog_content-inside {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .blog_content-inside > li {
    list-style-type: none;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #919191;
    background: #FFFEFE;
    margin: 0 1%;
  }
  .blog_content-inside > li > img {
    width: 100%;
    height: 25vh;    
    border-radius: 20px;
  }
  .blog_content-inside .title{
    margin: 5% 0%;
    text-indent: 12%;
  }
  .blog_content-inside .title span{
    font-size: 100%;
    font-weight: 550;
    text-align: justify;
  }
  .blog_content-inside .content p{
    text-align: justify;
    text-indent: 12%;
  }
  
  .button_detai{
    display: flex;
    justify-content: center;
  }
  .button_detai button{
    border: none;
    margin-bottom: 4%;
    border-radius: 20px;
    background: var(--red--color);
    height: 19%;
    width: 45%;
    padding: 2% 0;
    color: var(--white--color);
  }
  .feedback_content {
    margin-left: 3.5%;
  }
  
  .feedback_content > a > img {
    object-fit: cover;
    padding-left: 0%;
    height: 92%;
  }
  .list{
    margin-top: 5%;
    background: #D9D9D9;
    padding: 2% 7% 2% 7%;
  }
  .list li{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
  }
  .list h5 {
    font-weight: 550;
  }
  .list hr {
    border: none;
    border-top: 2px solid var( --black--color); 
    margin: 1% 0 10% 0;
  }
  
  .list a {
    text-decoration: none;
    color: var( --text--color);
    margin: 1.5% 0;
  }
  .list a:hover{
    color: #c1c1c1;
  }
  .list-colum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .col-md-2-4{
      flex: 0 0 auto;
      width: 20%;
    }
  }
  @media (max-width: 768px) {
    .header{
      background-color: var(--red--color);
      
    }
    .header_nav-homename {
      display: none; 
    }
    .header_up{
      justify-content: center;
      padding: 1% 0;
      height: 20%;
    }
    .header_nav-homea::after {
      content: "sea food"; 
      font-size: 20%;
      text-align: center;
      font-weight: 600;
      color: var(--white--color);
      text-transform: uppercase;
      content: "sea food";
      font-size: 140%;
    }
  
    .header_search{
      padding-bottom: 2%;
    }
    .header_search{
      width: 100%;
    }
    .header_navi--right{
      display: none;
    }
  
    .header-input_divider{
      top: -33%;
      height: 70%;
      left: 84.9%;
    }
    .header_input-icon > svg{
      width: 100%;
    }
    .header_input-icon{
      width: 10%;
    }
    .header_search-input {
      background-color: var(--white--color);
      width: 90%;
      margin-left: 5%;
    }
    .header_search-divider{
      display: none;
    }
  
    .header_input-button{
      width: 12%;
    }
    .header_input-button
    .header_nav-homea > svg{
      display: none;
    }
    .header_nav-homea > span{
      font-size: 15px;
    }
    .header_search-shoppingcare{
      position: absolute;
      top: 1%;
      left: 77%;
    }
    .header_search-shoppingcare > svg{
      background-color: var(--white--color);
      height: 10%;
      width: 64%;
      border-radius: 46%;
      border: 1px solid var( --black--color);
    }
    .content_top{
      display: none;
    }
    .content__top--phone_table{
      display: block;
    }
    .content__phone_table--banner_large > img {
      margin: 6% 0 0 0;    
      width: 100%;
      height: 15rem;
    }
    .phone_table__lish--type{
      text-decoration: none;
      color: var( --black--color);
      text-align: center;
      
    }
    .phone_table__lish--type_icon > img {
      margin: 5% 0; 
      width: 30%;
    }
    .content__phone_table--banner_hr > hr {
      border-top: 10px solid #D9D9D9;
    }
    .phone_table__banner_small--ads1,
    .phone_table__banner_small--ads2{
      display: flex;
      justify-content: center;
    }
    .phone_table__banner_small--ads1 > img,
    .phone_table__banner_small--ads2 > img{
      margin: 5% 0;
      width: 88%;
      border-radius: 10px 10px;
    }
    
    .product_discount-name > h4,
    .product_discount-reducedprice > h5{
      font-size: 1.15rem;
    }
  
    .product_discount-unit{
      font-size: 78%;
    }
  
    .product_discount-spercentdiscount > span,
    .product_discount-price > span,
    .product_discount-content > span,
    .product_discount-title > span{
      font-size: 80%;
    }
    .product_discount-reducedpricevsunitvsicon{
      margin-top: 5%;
    }
    .product_discount-content{
      margin: 3% 2% 1% 2%;
    }
    .content_sidebar-listname {
      font-size: 65%;
    }
    .content_sidebar-title{
      border-radius: 15px 15px 0 0;
    }
    .content_sidebar-titleicon{
      width: 28%;
    }
    .content_sidebar-titleicon > svg{
      width: 100%;
    }
    .content_sidebar-list li a {
      display: flex;
      text-decoration: none;
      color: var( --black--color);
      flex-wrap: nowrap;
      align-items: center;
    }  
    .content_sidebar-title > .content_sidebar-titleicon > svg{
      width: 80%;
    }
    .content_sidebar-titlename{
      font-size: 75%;
    }
    .content_sidebar-listicon{
      margin: 0 1%;
      width: 15%;
    }
    .content_sidebar-listicon > img{ 
      width: 100%;
      margin-left: 0;
    }
    .content_head-time > .icon > img{
      margin: 0 10%;
      width: 116%;
    }
    .content_head-seeall{
      top: 12%;
      width: 12.5%;
      height: 75%;
      left: 80%;
    }
  
    .container_top-banner{
      height: 88%;
    }
    .content_head-time{
      height: 40px;
    }
    .content_head-time > a{
      width: 4%;
    }
    
    .content_head-time > h3{
      font-size: 130%;
    }
    .content_head-time > .time_span{
      display: none;
    }
    .content_head-time > .time_day,
    .content_head-time > .time_hour,
    .content_head-time > .time_minute,
    .content_head-time > .time_second{
      padding: 0.2% 2.8% 0.2% 2.8%;
      font-size: 64%;
    }
    .content_head-seeall > span{
      font-size: 60%;
    }
    .content_head-time > hr{
      display: none;
    }
    .product_discount{
      margin-top: 5%;
      height: 93%;
    }
    .discount_pagination-numbers{
      margin: 0;
      justify-content: space-evenly;
    }
    .product_sedfood,
    .product_selling,
    .product_roll{
      overflow-x: auto;
      margin-left: 6%;
      width: 88%;
    }
    .product_selling .slider--row,
    .product_sedfood .slider--row,
    .product_roll .slider--row{
      white-space: nowrap;
      margin: 0px 0px 3px;
      width: 55rem;
    }
    .col-ms-20th {
      width: 40%;
      display: inline-block;
      vertical-align: top;
      margin: 0 1%;
    }
    .product_selling-unit > span,
    .product_sedfood-unit > span,
    .product_roll-unit > span{
      width: 50%;
    }
    .product_selling-spercentsedfood,
    .product_sedfood-spercentsedfood,
    .product_roll-spercentsedfood{
      font-size: 77%;
      width: 28%;
    }
    .product_selling-reducedprice h5,
    .product_sedfood-reducedprice h5,
    .product_roll-reducedprice h5{
      font-size: 1rem;
    }
    .product_selling-unit,
    .product_sedfood-unit,
    .product_roll-unit{
      font-size: 66%;
    }
    .product_selling-icon,
    .product_sedfood-icon,
    .product_roll-icon{
      width: 7%;
      margin: 1% 0 0 5%;
    }
    .product_selling-icon > a > svg,
    .product_sedfood-icon > a > svg,
    .product_roll-icon > a > svg {
      width: 18px;
      height: 18px;
    }
    .product_selling-content,
    .product_sedfood-content,
    .product_roll-content{
      font-size: 90%;
    }
    .product_selling-title,
    .product_sedfood-title,
    .product_roll-title{
      font-size: 72%;
    }
    .sedfood-banner img,
    .roll-banner img{
    border-radius: 15px;
    height: 100%;
    }
    .blog_content{
      max-width: 86%;
    }
    .blog_content-inside > li > img {
      height: 20vh;
    }
    .title span,
    .content p,
    .button_detai button{
      font-size: 80%;
    }
    .feedback_content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .name_feedback{
      margin: 5% 48.3% 3% 0;
    }
    .feedback_content > a > img{
      height: 95%;
    }
    .content_bottom{
      flex-wrap: wrap;
    }
    .feedback_content > a{
      display: flex;
      justify-content: center;
    }
  } 
  @media (max-width: 576px) {
    .header{
      background-color: var(--red--color);
      
    }
    .header_nav-homename {
      display: none; 
    }
    .header_up{
      justify-content: center;
      padding: 1% 0;
      height: 20%;
    }
    .header_nav-homea::after {
      content: "sea food"; 
      font-size: 20%;
      text-align: center;
      font-weight: 600;
      color: var(--white--color);
      text-transform: uppercase;
      content: "sea food";
      font-size: 140%;
    }
    .header_search{
      padding-bottom: 2%;
    }
    .header_search{
      width: 100%;
    }
    .header_navi--right{
      display: none;
    }
    .header-input_divider{
      top: -33%;
      height: 70%;
      left: 84.9%;
    }
    .header_input-icon > svg{
      width: 100%;
    }
    .header_input-icon{
      width: 10%;
    }
    .header_search-input {
      background-color: var(--white--color);
      width: 90%;
      margin-left: 5%;
    }
    .header_search-divider{
      display: none;
    }
    .content__phone_table--banner_large > img {
      height: 8rem;
    }
    .header_input-button{
      width: 12%;
    }
    .header_nav-homea > svg{
      display: none;
    }
    .header_nav-homea > span{
      font-size: 15px;
    }
    .header_search-shoppingcare{
      position: absolute;
      top: 1%;
      left: 77%;
    }
    .header_search-shoppingcare > svg{
      background-color: var(--white--color);
      height: 10%;
      width: 64%;
      border-radius: 46%;
      border: 1px solid var( --black--color);
    }
    .content_sidebar-title{
      border-radius: 15px 15px 0 0;
    }  
    .content_sidebar-titleicon{
      width: 28%; 
    }
    .content_sidebar-titleicon > svg{
      width: 100%; 
    }
    .content_sidebar-titlename{
      font-size: 65%;
    }
    .container_top-banner{
      width: 95%;
    }
    .content_head-time{
      height: 10%;
    }
    .content_head-time > h3,
    .content_head-time > .time_span{
      font-size: 75%;
      font-weight: 750;
    }
    .content_head-time > .time_day,
    .content_head-time > .time_hour,
    .content_head-time > .time_minute,
    .content_head-time > .time_second{
      padding: 1% 3.6%;
      font-size: 44%;
    }
    .content_head-seeall > span{
      font-size: 50%;
    }
    .content_head-time > hr{
      height: 80%;
      display: none;
    }
    .content_head-seeall{
      width: 12.5%;
      left: 80%;
    }
    .product_discount{
      height: 96%;
    }
    .product_discount-name > h4{
      font-size: 1rem;
    }
    .product_discount-reducedprice > h5 
    {
      font-size: 0.84rem;
    }
    .product_discount-unit{
      font-size: 74%;
      width: 28%;
    }
    .product_discount-icon {
      margin: 1% 0 0 5%;
      width: 10%;
    }
    .product_discount-spercentdiscount {
      width: 30%;
    }
    .product_discount-title > span {
      font-size: 69%;
    }
    .content p,
    .button_detai button{
      font-size: 70%;
    }
    .blog_content-inside .title{
      line-height: 12px;
    }
    .title span{
      font-size: 70% !important;
    }
    .blog_content-inside li:last-child {
      display: none;
    }
    .feedback_content > a > img{
      height: 65%;
  
    }
    .name_feedback {
      margin: 5% 36.3% 3% 0px;
    }
    .row > .col> h5{
    font-size: 1.1rem;
    }
  }  
  @media (max-width: 320px){
    .header_input-button {
      font-size: 64%;
      width: 20%;
    } 
    .content_head-time{
      height: 56px;
    }
    .content_head-time > h3,
    .content_head-time > a{
      margin-bottom: 10%;
      font-size: 92%;
    }
    .content_head-time > .time_day, 
    .content_head-time > .time_hour, 
    .content_head-time > .time_minute, 
    .content_head-time > .time_second {
      position: absolute;
      top: 44%;
      padding: 1% 4.8%;
      font-size: 46%;
    }
    .content_head-time > .time_day{
      left: 5%;
    }
    .content_head-time > .time_hour{
      left: 17%;
    }
    .content_head-time > .time_minute{
      left: 29%;
    }
    .content_head-time > .time_second{
      left: 41%;
    }
    .content_head-time > .time_colons{
      display: none;
    }
    .content_head-seeall {
      height: 46%;
      width: 16.5%;
      left: 75%;
    }  
    .content_head-seeall > span {
      font-size: 55%;
    }
    .product_discount-reducedprice {
      margin-top: 3%;
    }
    .product_discount-icon {
      margin: 1% 0 0 14%;
    }
    .product_discount-content > span{
      font-size: 66%;
    }
    .product_discount-title{
      margin: 5% 0;
      font-size: 65%;  
    }
    .product_discount-unit{
      display: none;
    }
    .product_discount-reducedprice > h5 {
      font-size: 0.9rem;
    }
    .feedback_content{
      margin-left: -10%;
      justify-content: space-evenly;
  
    }
    .row > .col> h5{
      font-size: 0.9rem;
    }
    .list-colum{
      font-size: 80%;
    }
  }
  
  
  /* --------------- */
  
  