*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header_up {
  height: 8vh;
  line-height: 6vh;
}
.header_navi--left{
  margin-left: 5%;
}  
.header_navi--right a:hover{
  color: #8f8f8f;
}
.header_search-shoppingcare:hover{
  filter: grayscale(30%); 
}
.breadcrumb-item a:hover {
  color: var(--primary--color); 
}
.content__bottom--hr{
  margin: 0;
  width: 84.8rem;
  border-top: 6px solid var( --primary--color);
  opacity: 1;
  border-radius: 5px;
}
.content__bottom--title{
  width: 12.9rem; 
  margin: 5rem 72rem 3rem 5rem; 
  background-color: var(--primary--color);
  color: aliceblue;
  border-radius: 3px;
}
.content__bottom--title > p{
  margin-bottom: 0rem;
}

.content__down{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content__down--product{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
content__down
.content__bottom{
  margin-bottom: 3rem;
}
.product_discount {
  height: 98%;
  width: 100%;
  padding: 0;
  border: 2px solid var(--Mu-nn-food-house, #919191);
  border-radius: 10px;

}

.product_discount > a > img{
  margin: 2%;
  border-radius: 10px;
  object-fit: cover;
  height: 50%;
  width: 95%;
}
.product_discount-namevspercentdiscount{
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_discount-name{
  margin-left: 2%;
}
.product_discount-name h4{
  font-weight: 400;
}
.product_discount-spercentdiscount{
  margin-bottom: 3%;
  padding-left: 6%;
  background: var(--red--color);
  color: var(--white--color);
  font-size: 92%;
  width: 22%;
}
.product_discount-reducedpricevsunitvsicon{
  display: flex;
  margin-top: 11%;
}
.product_discount-reducedprice{
  color: #95B8DA;
  margin-left: 2%;
}
.product_discount-reducedprice h5{
  margin: 0;
}
.product_discount-unit{
  color: #919191;
  font-size: 82%;
  margin-top: 3%;
}
.product_discount-icon{
  margin: 1% 0 0 27%;

}
.product_discount-icon a{
  border-radius: 50%;
  padding: 29%;
  background-color: var(--red--color);
}
.product_discount-price span {
  text-decoration: line-through;
  color: var(--Mu-nn-food-house, #919191);
  margin-left: 3%;
}
.product_discount-content{
  margin: 6% 2% 3% 2%;
  border: 2px dashed var(--mu-nn-food-house-2, #E85D06);
  background: #FFF;
}
.product_discount-content span{
  margin-left: 5%;
  color: var(--red--color);
}
.product_discount-title > img{
  width: 7%;
  margin-left: 2%;
}
.product_discount-title > span{
  color: var(--red--color);
  font-weight: 700;
}
.conten__down--nav{
  margin-top: 1rem;
}

.pagination .page-item {
  border: none;
}

.pagination .page-item .page-link {
  border: none;
}

/* CSS to round the corners of the active page-item */
.pagination .page-item.active .page-link {
  border-radius: 50%; /* Adjust the value as needed */
}
.pagination > li > a{
  color: var(--primary--color);
}
.active > .page-link, .page-link .active{
  background-color: var(--primary--color);
}
.list{
  margin-top: 3%;
  background: #D9D9D9;
  padding: 2% 7% 2% 7%;
}
.list li{ 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.list h5 {
  font-weight: 550;
}
.list hr {
  border: none;
  border-top: 2px solid var( --black--color); 
  margin: 1% 0 10% 0;
}

.list a {
  text-decoration: none;
  color: var( --text--color);
  margin: 1.5% 0;
}
.list a:hover{
  color: #c1c1c1;
}
.list-colum{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 768px) {
  .col-md-2-4{
    flex: 0 0 auto;
    width: 20%;
  }
}
@media (max-width: 768px) {
  .header{
    background-color: var(--primary--color);
  }
  .header_nav-homename {
    display: none; 
  }
  .header_up{
    justify-content: center !important;
    padding: 1% 0;
    height: 20%;
  }
  .header_nav-homea::after {
    content: "sea food"; 
    font-size: 20%;
    text-align: center;
    font-weight: 600;
    color: var(--white--color);
    text-transform: uppercase;
    content: "sea food";
    font-size: 140%;
  }

  .header_search{
    padding-bottom: 2%;
  }
  .header_search{
    width: 100%;
  }
  .header_navi--right{
    display: none;
  }

  .header-input_divider{
    top: -33%;
    height: 70%;
    left: 84.9%;
  }
  .header_input-icon > svg{
    width: 100%;
  }
  .header_input-icon{
    width: 10%;
  }
  .header_search-input {
    background-color: var(--white--color);
    width: 77%;
    margin-left: 5%;
  }
  .header_search-divider{
    display: none;
  }

  .header_input-button{
    width: 12%;
  }
  .header_input-button
  .header_nav-homea > svg{
    display: none;
  }
  .header_nav-homea > span{
    font-size: 15px;
  }
  .header_search-shoppingcare{
    position: absolute;
    top: 1%;
    left: 80%;
  }
  .header_search-shoppingcare > svg{
    background-color: var(--white--color);
    height: 95%;
    width: 80%;
    border-radius: 46%;
    border: 1px solid var( --black--color);
  }
  .content_top{
    display: none;
  }
  .content__top--phone_table{
    display: block;
  }
  .content__phone_table--banner_large > img {
    margin: 6% 0 0 0;    
    width: 100%;
    height: 15rem;
  }
  .header_nav-homea > svg{
    display: none;
  }
  .content__top--under .breadcrumb.bg-light {
    padding-left: 1.9rem;    
  }
  .content__top--above{
    display: none;
  }
  .content__between > img{
    width: 100%;
  }
  .content__bottom{
    display: flex;
    justify-content: center;
  }
  .content__bottom--title{
    width: 12.9rem;
    margin: 5rem 2rem 2rem 0;
    background-color: var(--white--color);
    color: var(--primary--color);
  }
  .content__bottom--hr{
    left: -64%;
    position: relative;
    margin: 0;
    width: 30.8rem;
    border-top: 3.5px solid var(--primary--color);
  }
}
@media (max-width: 576px) {
  .header_search-shoppingcare > svg{
    height: 80%;
    width: 60%;
  }
  #vungDemSo{
    left: 60% !important;
  }
  .content__top--under .breadcrumb.bg-light{
    padding-left: 1rem;
  }
  .content__between > img{
    height: 10rem;
  }
  .content__bottom--hr{
    left: -20%;
    width: 19.8rem;
  }
  .product_discount-name > h4{
    font-size: 1rem;
  }
  .product_discount-reducedprice > h5 
  {
    font-size: 0.84rem;
  }
  .product_discount-unit{
    font-size: 74%;
    width: 28%;
  }
  .product_discount-icon {
    margin: 1% 0 0 12.5%;
    width: 10%;
  }
  .product_discount-spercentdiscount {
    width: 25%;
    padding-left: 5%;
    font-size: 70%;
  }
  .product_discount-title > span {
    font-size: 69%;
  }
  .product_discount-price > span,
  .product_discount-content > span{
    font-size: 80%;
  }
  .product_discount-reducedpricevsunitvsicon{
    margin-top: 5%;
  }
  .product_discount-content{
    margin: 3% 2% 1% 2%;
  }
  .product_discount > a > img{
    height: 45%;
  }
  .row > .col> h5{
    font-size: 1.1rem;
  }
}
@media (max-width: 320px){
  .product_discount-content{
    margin: 0% 3% 0% 2%;
  }
  .product_discount-price > span, .product_discount-content > span {
    font-size: 75%;
  }
  .product_discount-icon{
    margin: 1% 0 0 4.5%;
  }
  .product_discount-reducedprice > h5 {
    font-size: 0.75rem;
  }
  .product_discount-unit {
    font-size: 65%;
    width: 29%;
  }
  .product_discount > a > img{
    height: 40%;
  }
  .product_discount {
    margin-bottom: -10%;
  }
  .content__bottom--hr {
    left: -8%;
    width: 16.8rem;
  }
  .row > .col> h5{
    font-size: 0.9rem;
  }
  .list-colum > a{
    font-size: 77%;
  }
}