
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    height: 16.8vh;
}
.header_nav{
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    line-height: 6vh;
    justify-content: space-between;
}
.header_nav-home{
    margin-left: 5%;
}
.header_nav-subnav > a > svg{
    margin-left: 2%;
}
.header_nav-home a{
    text-decoration: none;
}
.header_nav-homea span{
    font-weight: 600;
    color: #E85D06;
    text-decoration: none;
    font-size: 20px;
}
.header_nav-homename span{
    margin-top: 3%;
}
.header_nav-subnav a,
.header_nav-homename span{
    font-size: 14px;
    text-decoration: none;
}

.header_nav-subnav{
    margin-right: 5%;
    width: 30%;
    color: black;
}


.header_nav-subnav a {
    font-weight: 300;
    color: black;
    padding-left: 1%;
}
.header_nav-subnav a:hover{
    color: #8f8f8f;
}
.language{
    position: relative;
}
.table_language{
    width: 8%;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: 2px #c1bfbf solid;
    z-index: 1;
    background-color: white;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 81.5%;
    top: 6%;
    /* display: none; */
}
.table-language_divider {
    width: 90%; 
    margin: 0 auto; 
    border: none; 
    border-top: 2px solid #919191; 
}
.table_language-EN:hover ,
.table_language-VN:hover {
    background-color: #f9f9f9;
}
.table_language-EN:hover img,
.table_language-VN:hover img {
    filter: grayscale(15%); 
}
.table_language-EN:hover a,
.table_language-VN:hover a {
    color: #adadad; 
}
.table_language-EN,
.table_language-VN{
    text-align: center;
}
user{
    position: relative;
}
.user_table{
    width: 11%;
    border-radius: 5px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border: 2px #c1bfbf solid;
    z-index: 1;
    background-color: white;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 88.5%;
    top: 6%;
    flex-direction: column;
    align-content: space-around;
    display: none;
}
.table-user_divider{
    width: 90%; 
    margin: 0 auto; 
    border: none; 
    border-top: 2px solid #919191; 
}
.user_table-user ,
.user_table-support ,
.user_table-logout {
    display: flex;
    width: 100%;
    padding-left: 4%;
}
.user_user-icon ,
.user_support-icon,
.user_logout-icon {
    padding:0 4px;
}
.user_table-user:hover,
.user_table-support:hover ,
.user_table-logout:hover {
    background-color: #f9f9f9;
}

.header_search{
    display: flex;
}
.header_search-input {
    display: flex;
    align-items: center;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.4%;
    position: relative;
    margin-left: 14%;
}
.header_input-icon {
    margin-right: 5px;
}
.header_input-content {
    flex: 1;
    border: none;
    outline: none;
    height: 30px; /* Điều chỉnh chiều cao tùy ý */
    background-color: #ffffff; /* Màu nền của input */
}
.header_input-button {
    border: none;
    padding-right: 1%;
    background-color: #ffffff;
    color: #E85D06;
    transition: padding-left 0.3s ease;
}

.header_input-button:hover   {
    width: 10%;
    height: 140%;
    padding-right: 0;
    background-color: #ccc;
    color: #ffffff; 
}
.header-input_divider {
    left: 90%;
    position: absolute;
    height: 84%;
    top: -28%;
    border-left: 3px solid #827f7f;
    transform: rotate(180deg);
}
.header_search-divider{
    left: 87%;
    position: absolute;
    height: 6%;
    top: 6.5%;
    border-left: 3px solid #827f7f;
    transform: rotate(180deg);
}
.header_search-shoppingcare{
    margin-left: 5%;
}
.header_search-shoppingcare:hover{
    filter: grayscale(30%); 

}
#content{
    width: 100%;
}
.content_top{
    width: 100%;
    display: flex;
    height: 44vh;
}
.content_top-sidebar {
    margin-left: 6.8%;
    float: left;
    width: 12%;
    background-color: #e6e4e436;
    border-radius: 0 0 10px 10px;
}
.content_sidebar-title{
    border-radius: 25px 25px 0 0;
    display: flex;
    font-size: 1.2rem;
    padding: 2% 2% 2% 2%;
    background-color: #E85D06;
    justify-content: center;
}
.content_sidebar-titlename{
    font-weight: 550;
    font-size: 124%;
    color: white;
}
.content_sidebar-list{
    list-style-type: none;
    padding: 0;
    border-radius: 0 0 25px 25px ;
    margin: 0;
}

.content_sidebar-list li{
    margin: 2%;
}
.content_sidebar-list li a{
    display: flex;
    text-decoration: none;
    color: #333;
}
.content_sidebar-listicon img{
    width: 40%;
    margin-left: 40%;
}
.content_sidebar-list li:hover{
    background-color: #D9D9D9;
}
.container_top-banner{
    float: right;
    width: 73%;
    margin: 0px 6% 1% 1%;
}
.content_banner-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 48%;
  }
.content_small-ads1,
.content_small-ads2 {
    width: 48.9%;
    height: 100%;
}
.content_banner-large{
    width: 100%;
    height: 50%;
}
.content_small-ads1 img,
.content_small-ads2 img{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    height: 100%;
}
.content_banner-large img{
    height: 50%;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
}
.small_ads1-arrow{
    position: relative;
}
.ads1_left-arrow,
.ads1_right-arrow{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
}
.ads1_left-arrow{
    left: 1.4%;
}
.ads1_right-arrow{
    left: 94.2%;
}
.small_ads2-arrow{
    position: relative;
}
.ads2_left-arrow,
.ads2_right-arrow{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
}
.ads2_left-arrow{
    left: 1.4%;
}
.ads2_right-arrow{
    left: 94.2%;
}
.banner_large-arrow{
    position: relative;
}
.large_left-arrow,
.large_right-arrow{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    border: 0;
    transform: translatey(-350%);
}
.large_left-arrow{
    left: 1.4%;
}
.large_right-arrow{
    left: 96.2%;
}
.content_discount-head{
    position: relative;
}
.content_head-time{
    flex-wrap: wrap;
    height: 6vh;
    display: flex;
    width: 86%;
    position: relative;
    margin: 2% 5% 0% 7%;
    background-color: #FFD6BA;
    align-items: center;
}
.content_head-time > .icon > img{
    margin: 0 8%;
    width: 100%;
}
.content_head-time > h3{
    margin: 0 0.8%;
    color: #E85D06;
    font-weight: 550;

}
.content_head-time > hr{
    left: 25.7%;
    position: absolute;
    height: 80%;
    top: -23.5%;
    border-left: 3px solid #E85D06;
    transform: rotate(180deg);
}
.content_head-time > .time_span{
    margin: 0.2% .2% 0 0.2%;
    color: #E85D06;
}
.content_head-time > .time_day,
.content_head-time > .time_hour,
.content_head-time > .time_minute,
.content_head-time > .time_second{
    margin: 0 0.5%;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: #F23611;
    font-weight: 550;
    font-size: 70%;
    width: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.1% 1.4% 0.1% 1.4%;
}
.content_head-time > .time_colons{
    color: #F23611;
    font-weight: 550;
}
.content_head-seeall{
    height: 66%;
    width: 5.7%;
    background-color: #F23611;
    top: 17%;
    left: 86.7%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;

}
.content_head-seeall span{
    font-weight: 548;
    color: white;
}
.content_discount-among{
    margin-top: 0.2%;
    margin-left: 7%;
    background-color: #FFF2E8;
    width: 86%;
    height: 59vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-wrap: wrap;
}
.content_among-product{
    margin-top: 1%;
    border-radius: 10px;
    height: 86%;
    width: 98%;
    background-color: white;
}
.product_discount {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
.product_discount li{
    height: 93%;
    width: 18.6%;
    border-radius: 10px;
    border: 2px solid var(--Mu-nn-food-house, #919191);
}
.product_discount li> a > img{
    margin: 2%;
    border-radius: 10px;
    object-fit: cover;
    height: 41%;
    width: 95%;
}
.product_discount-namevspercentdiscount{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_discount-name{
    margin-left: 2%;
}
.product_discount-name h4{
    font-weight: 400;
}
.product_discount-spercentdiscount{
    margin-bottom: 3%;
    padding-left: 6%;
    background: #E85D06;
    color: white;
    font-size: 92%;
    width: 22%;
}
.product_discount-reducedpricevsunitvsicon{
    display: flex;
    margin-top: 11%;
}
.product_discount-reducedprice{
    color: #95B8DA;
    margin-left: 2%;
}
.product_discount-reducedprice h5{
    margin: 0;
}
.product_discount-unit{
    color: #919191;
    font-size: 82%;
    margin-top: 3%;
}
.product_discount-icon{
    margin: 1% 0 0 18%;
}
.product_discount-icon a{
    border-radius: 50%;
    padding: 29%;
    background-color: #E85D06;
}
.product_discount-price span {
    text-decoration: line-through;
    color: var(--Mu-nn-food-house, #919191);
    margin-left: 3%;
}
.product_discount-content{
    margin: 6% 2% 3% 2%;
    border: 2px dashed var(--mu-nn-food-house-2, #E85D06);
    background: #FFF;
}
.product_discount-content span{
    margin-left: 5%;
    color: #E85D06;
}
.product_discount-title > img{
    width: 7%;
    margin-left: 2%;
}
.product_discount-title > span{
    color: #E85D06;
    font-weight: 700;
}
.discount_pagination{
    width: 100%;
}
.discount_pagination-numbers{
    margin: 0 30%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}
.discount_pagination-numbers li{
    font-weight: 550;

}
.discount_pagination-numbers > li > svg{
    margin: 0px 0 9% -29%;
}
.discount_pagination-numbers > li > span{
    cursor: pointer;
}
.svg_pointer-events{
    pointer-events: none; 
}
.pagination-selected {
    color: white;
    padding: 4px 12px;
    background-color: #F98858;
    border-radius: 50%;
}
.content_selling-top,
.content_sedfood-between,
.content_roll-between{
    margin: 3% 7%;
    display: flex;
    justify-content: space-between;
}
.content_selling-name h3,
.content_sedfood-name h3,
.content_roll-name h3{
    width: 100%;
    margin-left: 5%;
    font-weight: 550;
}
.content_selling-seemore,
.content_sedfood-seemore,
.content_roll-seemore{
    text-decoration: none;
    display: flex;
}
.content_seemore-name{
    color: #F98858;
    margin-top: 2%;
    text-decoration: none;
}
.product_selling,
.product_sedfood,
.product_roll{
    height: 100%;
    margin-left: 4%;
    width: 92.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}
.product_selling li,
.product_sedfood li,
.product_roll li{
    height: 93%;
    width: 18.6%;
    border: 1px solid var(--Mu-nn-food-house, #919191);
}
.product_selling li> a > img,
.product_sedfood li> a > img,
.product_roll li> a > img{
    margin: 2%;
    border-radius: 10px;
    object-fit: cover;
    height: 41%;
    width: 95%;
}
.product_selling-namevspercentselling,
.product_sedfood-namevspercentsedfood,
.product_roll-namevspercentroll{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_selling-name,
.product_sedfood-name,
.product_roll-name{
    margin-left: 2%;
}
.product_selling-name h4,
.product_sedfood-name h4,
.product_roll-name h4{
    font-weight: 400;
}
.product_selling-spercentselling,
.product_sedfood-spercentsedfood,
.product_roll-spercentroll{
    margin-bottom: 3%;
    padding-left: 6%;
    background: #E85D06;
    color: white;
    font-size: 92%;
    width: 22%;
}
.product_selling-reducedpricevsunitvsicon,
.product_sedfood-reducedpricevsunitvsicon,
.product_roll-reducedpricevsunitvsicon{
    display: flex;
    margin-top: 11%;
}
.product_selling-reducedprice,
.product_sedfood-reducedprice,
.product_roll-reducedprice{
    color: #95B8DA;
    margin-left: 2%;
}
.product_selling-reducedprice h5,
.product_sedfood-reducedprice h5,
.product_roll-reducedprice h5{
    margin: 0;
}
.product_selling-unit,
.product_sedfood-unit,
.product_roll-unit{
    color: #919191;
    font-size: 82%;
    margin-top: 3%;
}
.product_selling-icon,
.product_sedfood-icon,
.product_roll-icon{
    margin: 1% 0 0 24%;
}
.product_selling-icon a,
.product_sedfood-icon a,
.product_roll-icon a{
    border-radius: 50%;
    padding: 29%;
    background-color: #E85D06;
}
.product_selling-price span,
.product_sedfood-price span,
.product_roll-price span{
    text-decoration: line-through;
    color: var(--Mu-nn-food-house, #919191);
    margin-left: 3%;
}
.product_selling-content,
.product_sedfood-content,
.product_roll-content{
    margin: 6% 2% 3% 2%;
    border: 2px dashed var(--mu-nn-food-house-2, #E85D06);
    background: #FFF;
}
.product_selling-content span,
.product_sedfood-content span,
.product_roll-content span{
    margin-left: 5%;
    color: #E85D06;
}
.product_selling-title,
.product_sedfood-title,
.product_roll-title{
    margin-bottom: 5%;
}
.product_selling-title > img,
.product_sedfood-title > img,
.product_roll-title > img{
    width: 7%;
    margin-left: 2%;
}
.product_selling-title > span,
.product_sedfood-title > span,
.product_roll-title > span{
    color: #E85D06;
    font-weight: 700;
}
.sedfood-banner img,
.roll-banner img{
    width: 86%;
    border-radius: 50px;
    height: 100%;
    text-align: center;
    height: 44vh;
    margin: 8.6% 0 0 7.5%;
}
.product_discount li:hover,
.product_selling li:hover,
.product_sedfood li:hover,
.product_roll li:hover{
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);

}
.content_bottom-name{
    font-weight: 550;
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.name_blog h4,
.name_feedback h4{
    width: 100%;
    font-weight: 550;
}
.name_blog h4{
    margin-left: 45%;
}
.name_feedback{
    margin-right: 20.3%;
}
.content_bottom-bot{
    display: flex;
    margin: 0px 4.5%;
}


.blog_content {
    max-width: 65%; /* Thay đổi max-width này */
}

.blog_content-inside {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.blog_content-inside > li {
    list-style-type: none;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #919191;
    background: #FFFEFE;
    margin: 0 1%;
}
.blog_content-inside > li > img {
    width: 100%;
    height: 25vh;    
    border-radius: 20px;
}
.blog_content-inside .title{
    margin: 5% 0%;
    text-indent: 12%;
}
.blog_content-inside .title span{
    font-size: 100%;
    font-weight: 550;
    text-align: justify;
}
.blog_content-inside .content p{
    text-align: justify;
    text-indent: 12%;
}

.button_detai{
    display: flex;
    justify-content: center;
}
.button_detai button{
    border: none;
    margin-bottom: 4%;
    border-radius: 20px;
    background: #E85D06;
    height: 19%;
    width: 45%;
    padding: 2% 0;
    color: white;
}
.feedback_content {
    width: 35%;
}

.feedback_content > a > img {
    object-fit: cover;
    padding-left: 6%;
    height: 95%;
}
.list{
    background: #D9D9D9;
    padding: 2% 7% 2% 7%;
    display: flex;
    justify-content: space-between;
}
.list li{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.list h5 {
    font-weight: 550;
}
.list hr {
    border: none;
    border-top: 2px solid black; 
    margin: 1% 0 10% 0;
}

.list a {
    text-decoration: none;
    color: #333;
    margin: 1.5% 0;
}
.list li a:hover{
    color: #c1c1c1;
}
@media (max-width: 768px) {
    #main .row{
        margin: 0;
    }
    .col col-md-12 col-sm-8{
        padding: 0;
    }
}
@media (max-width: 576px) {
 
}
