.main-content {
  float: left;
  width: 60%; /* Dùng 60% chiều rộng */
}

.sidebar {
  float: right;
  width: 25%; /* Dùng 25% chiều rộng */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}

.sidebar-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list li {
  margin-bottom: 5px;
}

.sidebar-list li a {
  text-decoration: none;
  color: #333;
}

.sidebar-list li a:hover {
  color: #007bff;
}

.ad-container {
  float: right;
  width: 25%; /* Dùng 25% chiều rộng */
  margin-top: 20px;
}

.small-ads {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.small-ad {
  width: 48%; /* Để lại một khoảng trống nhỏ giữa các quảng cáo nhỏ */
  background-color: #ccc;
  padding: 10px;
}

.large-ad {
  background-color: #ccc;
  margin-bottom: 20px;
  padding: 20px;
}
